.quoteCardContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.quoteCardInner {
	padding: 15px;
	box-sizing: border-box;
	background-color: white;

	width: 90%;
	display: flex;
	flex-direction: column;
}

.quoteCard {
	padding: 20px;
	background: #e8e7e7;
	text-align: center;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	flex-grow: 1;
}

.quoteText {
	font-size: 20px;
	margin-bottom: 20px;
	color: #333;
}

.subtitle {
	font-size: 16px;
	color: #555;
	text-align: right;
}

.downloadButton {
	padding: 10px 20px;
	border-radius: 10px;
	background: #007aff;
	color: white;
	border: none;
	cursor: pointer;
}

.downloadButton:hover {
	opacity: 0.95;
}
