.container {
	padding: 24px;
	width: 700px;
	margin-bottom: 100px;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.title {
	color: #374151;
	font-weight: 600;
	line-height: 100%;
	flex-grow: 1;
}

.button {
	margin-left: auto;
	color: #374151;
	height: 24px;
	width: 24px;
}

.listContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
