.appTitle {
	margin: 0;
	line-height: 100%;
}

.appDescription {
	margin: 8px 0 0 0;
	line-height: 100%;
	font-size: 13px;
	color: #6b7280;
}

.modeSelect {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 20px;
	margin: 20px 0 0 0;
}

.modeSelectInput {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2px;
}

.modeSelectItem {
	display: flex;
	flex-direction: column;
}

.modeSelectLabel {
	line-height: 100%;
}

.modeSelectDescription {
	display: block;
	font-size: 12px;
	color: #6b7280;
	line-height: 100%;
}
