#root {
	max-width: 1280px;
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

.app-header {
	margin: 0 auto;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #374151;
	font-weight: 600;
}

.app-sample-container {
	margin-bottom: 100px;
}

.app-example {
	color: #374151;
	font-weight: 600;
	margin-top: 0;
	line-height: 100%;
}
