#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.app-header {
  padding: 24px;
  box-sizing: border-box;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #374151;
  font-weight: 600;
}

.app-title {
  margin: 0;
  line-height: 100%;
}

.app-description {
  margin: 8px 0 0 0;
  line-height: 100%;
  font-size: 13px;
  color: #6b7280; 
}

.mode-select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap : 20px;
  margin: 20px 0 0 0;
}

.mode-select-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.mode-select-item {
  display: flex;
  flex-direction:column;
}

.mode-select-label {
  line-height: 100%;
}

.mode-select-description {
  display: block;
  font-size: 12px;
  color: #6b7280; 
  line-height: 100%;
}